In [30]:
import scanpy as sc, numpy as np, pandas as pd
sc.settings.verbosity = 3

### Full Data

In [31]:
%%time

adata = sc.read_h5ad("../data/Kidney_Combined_cellbender_v2.h5ad")
columns_to_drop = [col for col in adata.obs.columns if "RNA_snn" in col or "_prob" in col]
adata.obs.drop(columns=columns_to_drop, inplace=True)
adata

CPU times: user 6.16 s, sys: 19.9 s, total: 26.1 s
Wall time: 28.3 s

AnnData object with n_obs × n_vars = 2340396 × 36601
    obs: 'batch', 'harmonized_celltype', 'donor', 'Sample', 'nCount_RNA', 'nFeature_RNA', 'Cell_type', 'Subcategory', 'barcode', 'celltype', 'donor_id', 'sample_uuid', 'library_uuid', 'cell_type_ontology_term_id', 'author_cell_type', 'doublet_id', 'cell_type', 'assay', 'sex', 'tissue', 'development_stage', 'Patient', 'cancer', 'CD45', 'Stage annotations', 'Grade annotations', 'file integrity', 'orig.ident', 'seurat_clusters', 'patient', 'gene_clustering', 'l', 'original_seurat_clusters', 'CN_Column', 'anno', 'cluster', 'doublet_score', 'gene_per_1kUMI', 'label', 'no_genes', 'no_genes_log10', 'pct_MT', 'sample', 'total_UMI', 'Project_ID', 'percent.mt', 'percent.ribo', 'integrated_snn_res.0.2', 'SNV_GT', 'stim', 'ident', 'Suffix', 'type', 'region', 'Sample2', 'cluster_name', 'UMAP1', 'UMAP2', 'Sample_name'

In [4]:
sc.pp.filter_cells(adata, min_genes=1)
sc.pp.filter_genes(adata, min_counts=1)

filtered out 364830 cells that have less than 1 genes expressed
filtered out 2464 genes that are detected in less than 1 counts

In [6]:
adata.var

             n_counts
MIR1302-2HG     350.0
FAM138A           2.0
OR4F5            19.0
AL627309.1    17495.0
AL627309.2      118.0
...               ...
AC141272.1      400.0
AC023491.2      101.0
AC007325.1      101.0
AC007325.4    25613.0
AC007325.2    10332.0

[34137 rows x 1 columns]

In [9]:
deeptree_df = pd.read_csv("../data/Deep_genelists_1.csv", index_col=0)
deeptree_df

,0,1,2,3,4,5,6,7,8,9,...,8711,8712,8713,8714,8715,8716,8717,8718,8719,8720
Rajigenes,HES4,ISG15,TNFRSF18,TNFRSF4,SCNN1D,MXRA8,AURKAIP1,AL391244.2,VWA1,TMEM240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WuMutoWilsongenes,LINC02593,SAMD11,HES4,ISG15,PUSL1,CPTP,MXRA8,AURKAIP1,MRPL20-AS1,VWA1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BenUnpublishedgenes,HES4,TNFRSF4,MXRA8,VWA1,TNFRSF9,SLC2A5,RBP7,AL139423.1,TNFRSF1B,PDPN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BenPublishedgenes,HES4,ISG15,B3GALT6,DVL1,MXRA8,MRPL20-AS1,ANKRD65,VWA1,ATAD3C,AL691432.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Liaogenes,TNFRSF1B,KAZN,SRARP,CROCC,ARHGEF10L,HSPG2,C1QA,C1QC,C1QB,ID3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Malonegenes,HES4,ISG15,TNFRSF18,MXRA8,VWA1,MMP23B,PRDM16-DT,KCNAB2,TNFRSF9,ERRFI1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Krishnagenes,HES4,ISG15,MXRA8,VWA1,PLCH2,PRDM16-DT,PRDM16,ARHGEF16,ESPN,PLEKHG5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Krebsgenes,HES4,C1QTNF12,MXRA8,ATAD3C,CFAP74,SMIM1,VAMP3,UTS2,TNFRSF9,ENO1-AS1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Obradovicgenes,AL627309.1,AL627309.5,SAMD11,HES4,ISG15,RNF223,TNFRSF4,MXRA8,VWA1,ATAD3C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Suriawanshygenes,AL627309.5,LINC00115,HES4,ISG15,LINC01786,MXRA8,VWA1,TMEM52,PRDM16-DT,ARHGEF16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zhanggenes,LINC01128,LINC00115,LINC02593,HES4,ISG15,RNF223,TNFRSF18,TNFRSF4,B3GALT6,C1QTNF12,...,PCDH11Y,PRKY,TMSB4Y,NLGN4Y,AC010889.2,TTTY10,LINC00266-4P,AC011043.1,AC240274.1,AC007325.4

In [15]:
deeptree_df.values

array([['HES4', 'ISG15', 'TNFRSF18', ..., nan, nan, nan],
       ['LINC02593', 'SAMD11', 'HES4', ..., nan, nan, nan],
       ['HES4', 'TNFRSF4', 'MXRA8', ..., nan, nan, nan],
       ...,
       ['AL627309.1', 'AL627309.5', 'SAMD11', ..., nan, nan, nan],
       ['AL627309.5', 'LINC00115', 'HES4', ..., nan, nan, nan],
       ['LINC01128', 'LINC00115', 'LINC02593', ..., 'AC011043.1',
        'AC240274.1', 'AC007325.4']], dtype=object)

In [17]:
len(np.unique(deeptree_df.values.astype(str)))

15929

In [18]:
unique_values = np.unique(deeptree_df.values.astype(str))

selected_var = adata.var[adata.var.index.isin(unique_values)]

In [19]:
selected_var

            n_counts
AL627309.1   17495.0
AL627309.5   22481.0
LINC01128    85421.0
LINC00115    18071.0
LINC02593    12783.0
...              ...
AC240274.1   34237.0
AC233755.2    4010.0
AC233755.1   12101.0
AC007325.4   25613.0
AC007325.2   10332.0

[15885 rows x 1 columns]

In [23]:
adata = adata[:, adata.var.index.isin(unique_values)]
adata

View of AnnData object with n_obs × n_vars = 1975566 × 15885
    obs: 'batch', 'harmonized_celltype', 'donor', 'Sample', 'nCount_RNA', 'nFeature_RNA', 'Cell_type', 'Subcategory', 'barcode', 'celltype', 'donor_id', 'sample_uuid', 'library_uuid', 'cell_type_ontology_term_id', 'author_cell_type', 'doublet_id', 'cell_type', 'assay', 'sex', 'tissue', 'development_stage', 'Patient', 'cancer', 'CD45', 'Stage annotations', 'Grade annotations', 'file integrity', 'orig.ident', 'seurat_clusters', 'patient', 'gene_clustering', 'l', 'original_seurat_clusters', 'CN_Column', 'anno', 'cluster', 'doublet_score', 'gene_per_1kUMI', 'label', 'no_genes', 'no_genes_log10', 'pct_MT', 'sample', 'total_UMI', 'Project_ID', 'percent.mt', 'percent.ribo', 'integrated_snn_res.0.2', 'SNV_GT', 'stim', 'ident', 'Suffix', 'type', 'region', 'Sample2', 'cluster_name', 'UMAP1', 'UMAP2', 'Sample_name', 'n_genes'
    var: 'n_counts'

In [24]:
ls ../data

Deep_genelists_1.csv
Kidney_Combined_cellbender.h5ad
Kidney_Combined_cellbender_v2.h5ad
Kidney_Combined_hvg5k.h5ad
Kidney_Combined_hvg5k_LabeledSubset.h5ad
Kidney_Combined_sc.h5ad
Kidney_Combined_sc_hvg5k.h5ad
Kidney_Combined_sc_hvg5k_LabeledSubset.h5ad
Kidney_Combined_sn.h5ad
Kidney_Combined_sn_hvg5k.h5ad
Kidney_Combined_sn_hvg5k_LabeledSubset.h5ad

In [25]:
# set all genes as highly variable genes

%%time
adata.write_h5ad("../data/Kidney_Combined_deeptree.h5ad", compression="gzip")

CPU times: user 4min 5s, sys: 3.22 s, total: 4min 8s
Wall time: 4min 9s

### sn

In [26]:
%%time
adata = sc.read_h5ad("../data/Kidney_Combined_sn.h5ad")
adata

CPU times: user 20.3 s, sys: 1.13 s, total: 21.5 s
Wall time: 21.7 s

AnnData object with n_obs × n_vars = 362175 × 34137
    obs: 'batch', 'harmonized_celltype', 'donor', 'Sample', 'nCount_RNA', 'nFeature_RNA', 'Cell_type', 'Subcategory', 'barcode', 'celltype', 'donor_id', 'sample_uuid', 'library_uuid', 'cell_type_ontology_term_id', 'author_cell_type', 'doublet_id', 'cell_type', 'assay', 'sex', 'tissue', 'development_stage', 'Patient', 'cancer', 'CD45', 'Stage annotations', 'Grade annotations', 'file integrity', 'orig.ident', 'seurat_clusters', 'patient', 'gene_clustering', 'l', 'original_seurat_clusters', 'CN_Column', 'anno', 'cluster', 'doublet_score', 'gene_per_1kUMI', 'label', 'no_genes', 'no_genes_log10', 'pct_MT', 'sample', 'total_UMI', 'Project_ID', 'percent.mt', 'percent.ribo', 'integrated_snn_res.0.2', 'SNV_GT', 'stim', 'ident', 'Suffix', 'type', 'region', 'Sample2', 'cluster_name', 'UMAP1', 'UMAP2', 'Sample_name', 'n_genes', 'modality'
    var: 'n_counts'

In [27]:
adata = adata[:, adata.var.index.isin(unique_values)]
adata

View of AnnData object with n_obs × n_vars = 362175 × 15885
    obs: 'batch', 'harmonized_celltype', 'donor', 'Sample', 'nCount_RNA', 'nFeature_RNA', 'Cell_type', 'Subcategory', 'barcode', 'celltype', 'donor_id', 'sample_uuid', 'library_uuid', 'cell_type_ontology_term_id', 'author_cell_type', 'doublet_id', 'cell_type', 'assay', 'sex', 'tissue', 'development_stage', 'Patient', 'cancer', 'CD45', 'Stage annotations', 'Grade annotations', 'file integrity', 'orig.ident', 'seurat_clusters', 'patient', 'gene_clustering', 'l', 'original_seurat_clusters', 'CN_Column', 'anno', 'cluster', 'doublet_score', 'gene_per_1kUMI', 'label', 'no_genes', 'no_genes_log10', 'pct_MT', 'sample', 'total_UMI', 'Project_ID', 'percent.mt', 'percent.ribo', 'integrated_snn_res.0.2', 'SNV_GT', 'stim', 'ident', 'Suffix', 'type', 'region', 'Sample2', 'cluster_name', 'UMAP1', 'UMAP2', 'Sample_name', 'n_genes', 'modality'
    var: 'n_counts'

In [28]:
%%time
adata.write_h5ad("../data/Kidney_Combined_sn_hvgdt.h5ad", compression="gzip")

CPU times: user 1min 10s, sys: 715 ms, total: 1min 11s
Wall time: 1min 11s

### sc

In [29]:
%%time

adata = sc.read_h5ad("../data/Kidney_Combined_sc.h5ad")
adata = adata[:, adata.var.index.isin(unique_values)]
adata.write_h5ad("../data/Kidney_Combined_sc_dt.h5ad", compression="gzip")

CPU times: user 3min 45s, sys: 4.57 s, total: 3min 50s
Wall time: 3min 53s